.footer{
    background-color:rgba(158, 150, 150, 0.205);
    padding: 5rem;
    list-style: none;
    padding-left: 8rem;
    
   
}

.fd li {
    letter-spacing: .1rem;
    initial-letter-align: auto;
}
